<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QualCaddy</title>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="qualcaddy" ng-controller="AppCtrl as app">

<ul>
    <li ng-repeat="application in app.applications">
        {{ application.name }}
    </li>
</ul>

<p>
    <label>Name: </label>
    <input type="text" ng-model="app.newApplication.name"/>
<p/>
<p>
    <label>Income: </label>
    <input type="number" ng-model="app.newApplication.income"/>
<p/>
<p>
    <label>Debt: </label>
    <input type="number" ng-model="app.newApplication.debt"/>
<p/>
<p>
    <button ng-click="app.saveApplication(app.newApplication)">Save</button>
</p>
<p>
    <button ng-click="app.verify(app.newApplication, app.applicationResult)">Verify</button>
</p>
<p>
    <label>Approved? </label>
    <input type="checkbox" ng-model="app.applicationResult.result"/>
<p/>
<p>
    <label>Reason: </label>
    <input type="string" ng-model="app.applicationResult.reason"/>
<p/>

<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>