<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QualCaddy</title>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="qualcaddy" ng-controller="AppCtrl as app">

<h1>QualCaddy</h1>
<p></p>
<h3>Application</h3>
<label>Existing Applications: </label>
<select name="applicationselect"
        ng-model="app.currentApplication"
        ng-options="application.name for application in app.applications track by application.name"
        ng-change="app.handleApplicationSelect()">
        <item>---CREATE NEW---</item>
</select>

<p>
    <label>Name: </label>
    <input type="text" ng-model="app.currentApplication.name"/>
<p/>
<p>
    <label>Bank: </label>
    <select name="applicationselect"
            ng-model="app.currentBank"
            ng-options="bank.bankName for bank in app.banks track by bank.bankName"
            ng-change="app.handleBankSelect()">
    </select>
</p>
<p>
    <label>Income: </label>
    <input type="number" ng-change="app.verify()" ng-model="app.currentApplication.income.borrowers[0]"/>
<p/>
<p>
    <label>Debt: </label>
    <input type="number" ng-change="app.verify()" ng-model="app.currentApplication.debt"/>
<p/>
<p>
    <button ng-click="app.saveApplication()">Create New</button>
    <button ng-click="app.deleteApplication()">Delete</button>
    <button ng-click="app.updateApplication()">Update</button>
</p>
<h3>Status of Application</h3>
<p>
    <label>Approved? </label>
    <input readonly="true" type="checkbox" disabled="disabled" ng-model="app.applicationResult.result"/>
<p/>
<p>
    <label>Reason: </label>
    <input style="width: 1000px; border: solid 0px black" readonly="true" type="string" ng-model="app.applicationResult.reason"/>
<p/>

<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>